In [1]:
# 1.One tailed t-test

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [3]:
machine = pd.read_csv('files_for_lab/machine.txt', sep='\t', encoding='utf-16')

In [4]:
machine.columns

Index(['New machine', '    Old machine'], dtype='object')

In [5]:
machine = machine.rename(columns={'New machine': 'new_machine', '    Old machine': 'old_machine'})

In [6]:
machine

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [8]:
t_stat, p_val = ttest_ind(machine['new_machine'], machine['old_machine'], alternative='less')

if p_val < 0.05:
    print("The data provides sufficient evidence to show that the new machine packs cartons faster on average than the old machine.")
else:
    print("The data does not provide sufficient evidence to show that the new machine packs cartons faster on average than the old machine.")

The data provides sufficient evidence to show that the new machine packs cartons faster on average than the old machine.

In [9]:
# 2.Matched Pairs Test

In [10]:
from scipy.stats import ttest_rel

In [11]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')

In [12]:
t_statistic, p_value = ttest_rel(pokemon['Attack'], pokemon['Defense'])

In [13]:
print("t-statistic: ", t_statistic)
print("p-value: ", p_value)

t-statistic:  4.325566393330478
p-value:  1.7140303479358558e-05

In [14]:
# Based on the these numbers we should reject the null hypothesis.
# There is a significant difference between attach and defence score of the Pokemon